test/src/test/resources/packet/xsd/Customer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/Customer" xmlns:tns="http://www.example.org/Customer" elementFormDefault="qualified">
	<element name="customer">
		<complexType>
			<sequence>
				<element name="name" type="string"/>
				<element name="address">
					<complexType>
						<sequence>
							<element name="city" type="string"/>
							<element name="street" type="string"/>
						</sequence>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
</schema>